.main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    display: flex;
    justify-content: center;
    height: 100%;
    width:100%;
}
.content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    overflow-y: scroll;
    background-color: darkblue;
    margin: -10px,0px,0px,0px;
}

.cont1 {
    border-color: black;
    border-width: 5px;
    background-color: darkmagenta;
   
}

.cont {
    height:600px;
    width: 50px;
    background-color:aqua;
    

}
.con {

    height:50px;
    width: 50px;
    margin:20px;
}
.post
{
    border-color:black;
    border-width:5px;
    background-color:darkmagenta;
    height:20%;
    width:300%;
    margin:10px,0px,10px,0px;
}