.main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    display: flex;
    justify-content: center;
    height:800px;
    width:100%;
}
.content {
    display: flex;
    justify-content: center;
    height: 750px;
    width: 700px;
    overflow-y: scroll;
    background-color: darkblue;
    margin: -10px,0px,0px,0px;
}

.post
{
    background-color:lightyellow;
    height:300px;
    width:300px;
    margin:10px,0px,10px,0px;
    text-align:center;
}