body {
    height: 733px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content:space-between;
    background-image: linear-gradient(#FBCEB1,#FEEBD7);
}
.shrift {
    font-family: "Marker Felt","fantasy";
    font-size: 25px;
}
.butt {
    border-radius: 15px;

    height:50px;
    width:100px;
}
.inp {
    border-radius: 15px;
    font-family: "Marker Felt","fantasy";
    font-size: 25px;
    height: 70px;
    width: 300px;
}
@keyframes animat
{
    from {
        
        border-radius: 50%;
        width: 20px;
        height: 30px;
       
    }
    50% {
        border-radius: 50%;
        opacity:1;
        width: 300px;
        height: 30px;
        
    }
    to {
        border-radius: 50%;
        opacity: 1;
        width: -20px;
        height: 30px;
        
    }
}
.formdecor {
    display: flex;
    background-image: linear-gradient(#FBCEB1,#FEEBD7);
    justify-content: space-between;
    flex-direction: column;
    height: 733px;
    width: 550px;
    
}
.formdecor1 {
    display: flex;
    align-items:flex-end;
    background-image: linear-gradient(#FBCEB1,#FEEBD7);
    justify-content: space-between;
    flex-direction: column;
    height: 733px;
    width: 550px;
   
}

.decor {
    display: flex;
   border-radius:50%;
   opacity:0;
      
    width: 20px;
    height: 20px;
    background-color:black;
    animation-name: animat;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
#a1 {
    animation-delay: 1s;
}
#a2 {
    animation-delay: 2s;
}
#a3 {
    animation-delay: 3s;
}
#a4 {
    animation-delay: 4s;
}
#a5 {
    animation-delay: 5s;
}
#a6 {
    animation-delay: 6s;
}
#a12 {
    animation-delay: 1s;
}
#a13 {
    animation-delay: 2s;
}
#a14 {
    animation-delay: 3s;
}
#a15 {
    animation-delay: 4s;
}
#a16 {
    animation-delay: 5s;
}
#a17 {
    animation-delay: 6s;
}


.ramk {
    display: flex;
    background-image: linear-gradient(#B5B8B1,#F19CBB);
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 5px solid black;
    border-radius: 15px;
    padding: 50px;
    width: 250px;
    height: 250px;
}

.message {
    display: flex;
    justify-content: center;
    border: 5px solid black;
    font-size:15px;
    border-radius: 15px;
    align-items: center;
    background-color: #F19CBB;
    height: 200px;
    width: 400px;
    animation-name: animat1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes animat1 {
    from {
        height: 200px;
        width: 400px;
        font-size: 15px;
    }

    50% {
        height: 300px;
        width: 500px;
        font-size:25px;
    }

    to {
        height: 200px;
        width: 400px;
        font-size: 15px;
    }
}