.html
{
    height:1000px;
    width:1300px;
}

body {
    background-image: linear-gradient(#FBCEB1,#FEEBD7);
    height: 1000px;
    display:flex;
    flex-direction:column;
}

.lvl1 {
   
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:center;

    justify-content:space-between;



}

.ar {
    background-image: linear-gradient(#FBCEB1,#FEEBD7);
    width: 500px;
    margin: 0;
    height: 200px;
}

.homework {
    background-color: antiquewhite;
    border-color: black;
    height: 60px;
    width: 110px;
    border-radius: 50%;
    opacity: 0.9;
}


.arc:hover {
    cursor: auto;
    color: aliceblue;
}

header:hover {
    cursor: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
header{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.c {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
   


}


#minus {
    background-color: antiquewhite;
    order: 1;
    border-color: black;
    height: 60px;
    width: 110px;
   
}

#plus {
    background-color: antiquewhite;
    order: 3;
    border-color: black;
    height: 60px;
    width: 110px;
   
}

#Counter {
    order: 2;
    background-color: antiquewhite;
   border-color:black;
    height: 22px;
    width: 100px;
   
    text-align: center;
    padding: 20px;
}


 

.collapsible {
    display:flex;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:500px;
    height:50px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.spic
{
    display:flex;
    flex-direction:column;
    height:500px;
}

.content {
    width:463px;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
#hw_2 {
    background-color: greenyellow;
    float: unset;
    position: relative;
    right: -500px;
    height: 50px;
    bottom: -150px;
    line-height: 100px;
    width: 400px;
}
#hw_3 {
    background-color: greenyellow;
    float: unset;
    position: relative;
    right: -500px;
    height: 50px;
    bottom: -200px;
    line-height: 100px;
    width: 400px;
}

.afterH {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}